<div>
    <!-- navigation -->
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Contact Info</a></li>
        <li class="divider"></li>
        <li><a href="#!">Add Patient</a></li>
        <li class="divider"></li>
        <li><a ng-click="vm.initiateLogOut()">Logout</a></li>
    </ul>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper" id="topNav">
                <a class="btn-floating btn-large grey lighten-3" id="navBack">
                    <i class="material-icons" id="navBack">arrow_back</i></a>
                <!-- <a href="#!" id="nav-logo" >Mood ToolKit</a> -->
                <ul class="right hide-on-med-and-down">
                    <li><a href="overview.html">Studies</a></li>
                    <li><a href="about.html">About</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Profile<i class="material-icons right">person_pin</i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- end navigation -->
   <!-- page content -->
   <div class="parallax-container">
       <div class="parallax"><img src="resources/images/smartphone-smile.jpg"></div>
   </div>

   <div class='row' id = "study-cards">

           <h1 class = 'section-header center-align' id = "study-overview-header">Current Studies</h1>
           
           <div ng-repeat="study in vm.studyConstants">
               <div class="overview-card card medium sticky-action col s12 m3 z-depth-2">
                 <div class="card-image waves-effect waves-block waves-light">
                   <img class="activator" ng-src="{{study.imageLink}}">
                 </div>
                 <div class="card-content">
                   <span class="card-title activator grey-text text-darken-4 "><a ng-click="vm.directToStudy(study.link)">{{study.nameOfStudy}}</a><i class="material-icons right">more_vert</i></span>
                   <p><a ng-click="vm.directToStudy(study.link)">View {{study.nameOfStudy}} Data</a></p>
                 </div>
                 <div class="card-reveal">
                   <span class="card-title grey-text text-darken-4"><a ng-click="vm.directToNIMHView()">{{study.nameOfStudy}}</a><i class="material-icons right">close</i></span>
                   <p>{{study.description}}</p>
                 </div>
               </div>
           </div>
            
    </div>
    <div class="parallax-container">
       <div class="parallax"><img src="resources/images/smartphone-girl.jpg"></div>
    </div>

</div>

<!-- Footer start -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Mood ToolKit</h5>
                <p class="grey-text text-lighten-4">Mood ToolKit is a collaberative effort between the University of Missouri Computer Science and Psychology departments. It can be used to build re-configurable surveys and data processing for mobile-based studies. </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">University of Missouri</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Related Work</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Resources</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">IP Rights</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 Mood ToolKit
            <a class="grey-text text-lighten-4 right" href="#!">Read More</a>
        </div>
    </div>
</footer>

