@import "https://fonts.googleapis.com/css?family=Montserrat";
* {
   font-family: 'Montserrat', sans-serif;
}

html{
   background-color: #333333;
}

/** CUSTOMIZE MATERIALIZE **/
.row{
  padding:10px;
  margin-bottom:10px;
}

.no-padding{
  padding:0 !important;
}
.no-padding-left{
  padding-left:0 !important;
}
.no-padding-right{
  padding-right:0 !important;
}

.no-margin{
  margin:0 !important;
}

h4{
   color: #454545;
}

h2, p{
   color: #fff;
}

.hi {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #fff;
   font-family: 'Montserrat', serif;
   font-size: 14px;
   font-weight: 9px;
   /*line-height: 23px;*/
   text-align: center;
   /*opacity: 1;
   z-index: 10;*/
   border: solid 2px #FFF;
   border-radius: 10px;
   padding: 30px 30px;
   background-color:rgba(3,25,38,0.95);
}
/*Registration & Login form components styling*/
.input-field input[type=text]:focus + label {
  color: #031926;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid #031926;
  box-shadow: 0 1px 0 0 #031926;
}
.input-field input[type=password]:focus + label {
  color: #031926;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid #031926;
  box-shadow: 0 1px 0 0 #031926;
}
.input-field input[type=text].valid {
  border-bottom: 1px solid #E7E247;
  box-shadow: 0 1px 0 0 #E7E247;
}
.input-field input[type=password].valid {
  border-bottom: 1px solid #E7E247;
  box-shadow: 0 1px 0 0 #E7E247;
}

.full-width{
  width:100% !important;
}

.btn-left {
   background-color: #E7E247!important;
   color: #03263F!important;
}

.btn-right {
   background-color: transparent!important;
   border-style: solid!important;
   border-width: 2px: border-color: #E7E247!important;
   color: #E7E247;
}

#btn-google-signin {
   background-color: #EF535E;
   color: white;
}

.smedia{
   padding-left: 8px;
}

.login-wrapper{
   mergin: auto;
}

.login-container{
   display: inline-block;
   padding: 32px 48px 0px 48px;
   border: 1px solid #EEE;
}
.modal{
   width: 40%!important;
   height: 85%!important;
   max-height: 90%!important;
}

.modal-content{
  padding:0px !important;
}

textarea:focus {
  border-bottom: 1px solid orange;
  -webkit-box-shadow: 0 1px 0 0 orange;
  -moz-box-shadow: 0 1px 0 0 orange;
  box-shadow: 0 1px 0 0 orange;
}

#toast-container {
  right: 31% !important;
  top: 18% !important;
  /*width: 38% !important;*/
}

/*#preloader {
   position: fixed;
   left: 0;
   top: 0;
   z-index: 999;
   width: 100%;
   height: 100%;
   overflow:
   visible;
   background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center;
}*/