<div>
  <!-- MAIN PANEL -->
  <div class = "hi col s12 m6 l6">
    <div class="row no-padding no-margin">
      <h2>Welcome</h2>
    </div>
    <div class="row no-padding no-margin">
      <h5>to</h5>
    </div>
    <div class="row no-padding no-margin">
      <h2>TigerAware</h2>
    </div>
    <div class="row no-padding">
      <h5>A University of Missouri<br>Campus Survey System</h5>
    </div>
    <div class="row no-padding">
      <div class="col s12 m7 l7 no-padding-left">
        <button class="btn full-width waves-effect waves-light btn-large btn-left z-depth-3" ng-click="vm.directToRegister()" style="padding:0">Register</button>
      </div>
      <div class="col s12 m5 l5 no-padding-right">
        <button class="btn full-width waves-effect waves-yellow btn-large btn-right modal-trigger z-depth-3" ng-click="vm.directToLogin()" style="padding:0">Login</button>
      </div>
    </div>
    <div class="row no-padding">
      <button class="btn full-width waves-effect waves-light btn-large z-depth-3 red" id = "btn-google-signin" ng-click="vm.authUserGoogle()">Login Using Google <i class="fa fa-google-plus smedia" aria-hidden="true"></i></button>
    </div>
  </div>

  <!-- Login Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer" ng-show="vm.showLoginModal">
    <div class="modal-content">
      <!-- add spacing to the top -->
      <div class="section"></div>
      <div class="container center">
        <div class="row grey lighten-4 z-depth-1">
          <!-- form -->
          <form name="loginForm" id = "loginform" class="col s12" novalidate>
            <div class='row no-margin'>
              <div class='col s12'>
                <h4 class="center">LOGIN</h4>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12 left-align'>
                <input class='validate' type='text' ng-model="temp.username" name="username" required autofocus/>
                <label for='username'>Enter your email:</label>
                <span ng-show="loginForm.username.$dirty && loginForm.username.$error.required">*  Required</span>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12 left-align'>
                <input class='validate' type='password' ng-model="temp.password" name="password" required/>
                <label for='password'>Enter your password:</label>
                <span ng-show="loginForm.password.$dirty &&  loginForm.password.$error.required">*  Required</span>
              </div>
            </div>

            <div class='row'>
              <button id = "btn_login" name='btn_login' class='col s12 btn btn-large waves-effect waves-yellow' ng-disabled="loginForm.$invalid" ng-click="vm.loginWithEmail()">Login</button>
            </div>

            <div>{{vm.message}}</div>
          </form>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
    <!-- end modal-content -->
    <div class="modal-footer">
      <a ng-click="vm.cancelClicked()" class=" modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
  </div>
  <!-- end modal -->

  <!-- Register Modal -->
  <div id="modal2" class="modal modal-fixed-footer" ng-show="vm.showRegisterModal">
    <div class="modal-content">
      <div class="section"></div>
      <div class="container center">
        <div class="row z-depth-1 grey lighten-4">
        <!-- form -->
          <form name="registerForm" id = "registerform" class="col s12" novalidate>
            <div class='row no-margin'>
              <div class='col s12'><h4 class="center">REGISTER</h4></div>
            </div>
            <div class='row no-margin'>
              <div class='input-field col s12 left-align'>
                  <input class='validate' type='text' ng-model="temp.registerName" name="registerName" required/>
                  <label for='registerName'>Enter your first name:</label>
                  <span ng-show="registerForm.registerName.$dirty && registerForm.registerName.$error.required">*  Required</span>
              </div>
            </div>
            <div class='row no-margin'>
              <div class='input-field col s12 left-align'>
                <input class='validate' type='text' ng-model="temp.registerUsername" name="registerUsername" required/>
                <label for='registerUsername'>Enter a username</label>
                <span ng-show="registerForm.registerUsername.$dirty && registerForm.registerUsername.$error.required">*  Required</span>
              </div>
            </div>

            <div class='row no-margin'>
              <div class='input-field col s12 left-align'>
                <input class='validate' type='password' ng-model="temp.registerPassword" name="registerPassword" equals={{temp.confirmPassword}} required/>
                <label for='registerPassword'>Enter a password</label>
                <span ng-show="registerForm.registerPassword.$dirty &&  registerForm.registerPassword.$error.required">*  Required</span>
              </div>
            </div>

            <div class='row no-margin'>
              <div class='input-field col s12 left-align'>
                <input class='validate' type='password' ng-model="temp.confirmPassword" name="confirmPassword" equals={{temp.registerPassword}} required/>
                <label for='confirmPassword'>Confirm password</label>
                <span ng-show="registerForm.confirmPassword.$dirty &&  registerForm.confirmPassword.$error.required">*  Required</span>
                <span ng-show="registerForm.confirmPassword.$dirty &&  registerForm.confirmPassword.$error.equals">*  passwords should match</span>
              </div>
            </div>
            
            <div class='row no-margi'>
              <button id = "btn_login" name='btn_login' class='col s12 btn btn-large waves-effect btn-left' ng-disabled="registerForm.$invalid" ng-click="vm.registerEmailPassword()">Register</button>
            </div>
          </form>
        </div>
      </div>
      <!-- end container -->
    </div>
    <!-- end modal-content -->
    <div class="modal-footer">
      <a ng-click="vm.cancelClicked()" class=" modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
  </div>
  <!-- end modal -->
</div>