
<div>
   <!-- navigation -->
   <!-- Dropdown Structure -->
   <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">Contact Info</a></li>
      <li class="divider"></li>
      <li><a href="#!">Add Patient</a></li>
      <li class="divider"></li>
      <li><a ng-click="vm.initiateLogOut()">Logout</a></li>
   </ul>
   <div class="navbar-fixed">
      <nav>
         <div class="nav-wrapper" id="topNav">
            <a class="btn-floating btn-large grey lighten-3" id="navBack">
               <i class="material-icons" id="navBack">arrow_back</i></a>
            <!-- <a href="#!" id="nav-logo" >TigerAware</a> -->
            <ul class="right hide-on-med-and-down">
               <li><a href="overview.html">Studies</a></li>
               <li><a href="#!">About</a></li>
               <!-- Dropdown Trigger -->
               <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Profile<i class="material-icons right">person_pin</i></a></li>
            </ul>
         </div>
      </nav>
   </div>
   <!-- end navigation -->
   <!-- page content -->
   <div class="section grey lighten-2" id="index-banner">
      <div class="wrapper white z-depth-1 container">
         <div class="row">
            <div class="input-field col s12">

               <h5 class= "center" ng-if="vm.updating">Edit Survey</h5>
               <h5 class= "center" ng-if="!vm.updating">Survey Builder</h5>
               <div class = "row">
                  <div class = "col s8 offset-s2 title-wrapper grey lighten-5 z-depth-1">
                     <div class="col s12 survey-title input-field grey lighten-5">
                        <input value = "Sample Survey" required id="surveyname" type="text" class="validate" ng-model="vm.surveyName" >
                        <label class = "active" for="Name">Survey Name</label>
                     </div>
                  </div>
               </div>
               <table class="highlight">
                  <thead>
                     <tr>
                        <th class = "qid center"  data-field="data">ID</th>
                        <th class = "qtype center" data-field="date">Type</th>
                        <th class = "qdelete center" data-field="contrib">Delete</th>
                        <th class = "qedit center" data-field="contrib">Edit</th>
                     </tr>
                  </thead>
                  <tbody id='mainTable'>
                     <tr ng-repeat="question in vm.steps">
                        <td>{{question.id}}</td>
                        <td>{{question.type}}</td>
                        <td><a class="btn-floating waves-effect waves-light red accent-1" ng-click="vm.deleteQuestion(vm.steps.indexOf(question))"><i class="material-icons">delete</i></a></td>
                        <td><a class="btn-floating waves-effect waves-light blue accent-1" ng-click="vm.editQuestion(vm.steps.indexOf(question))"><i class="material-icons">border_color</i></a></td>
                     </tr>
                  </tbody>
               </table>
               <br>
               <br>
               <div class="right-align">
                  <a ng-click="vm.openQuestionModal()" class="add-btn btn-floating btn-large waves-effect waves-light align-right"><i class="add-icon material-icons">add</i></a>
               </div>
               <br>
               <br>
               <br>
               <a class="waves-effect waves-light btn red accent-1" ng-click="vm.openCancelModal()">Cancel</a>
               <span ng-if="vm.updating">
                  <a class="waves-effect waves-light btn green accent-3 right-align" ng-click="vm.saveNewSurvey()">Save</a>
               </span>
               <span ng-if="!vm.updating">
                  <a class="waves-effect waves-light btn green accent-3 right-align" ng-click="vm.saveNewSurvey()">Deploy</a>
               </span>
            </div>
         </div>
         <br>
         <br>
      </div>
   </div>
   <div id="modal-cancel" class="modal" ng-show="vm.showCancelModal">
    <div class="modal-content">
      <h4>Confirm Cancel</h4>
      <p>Once you cancel this new survey, your changes will be lost. Do you wish to continue?</p>
    </div>
   <div class="modal-footer">
      <button id = "newQuestionCreate" class="waves-effect waves-light btn red accent-3" ng-click='vm.cancelSurvey()'>Cancel</button>
      <button id = "newQuestionCancel" class="waves-effect waves-light btn grey accent-1" ng-click='vm.hideCancel()'>Continue Building</button>
   </div>
  </div>
   <!-- Modal for making new question. Opens when plus button on main page clicked -->
   <div id="modal-question" class="modal modal-fixed-footer" ng-show="vm.showQuestionModal">
      <div class="modal-content">
         <div class="white z-depth-1 container" style='padding: 1% 1% 1% 1%;'>
            <h5 class="center">Create Question</h5>
            <form>
               <div class="input-field col s12">
                  <input value = "Alvain" required id="qlabel" type="text" class="validate" ng-model="vm.currentQuestion.id" >
                  <label class = "active" for="qlabel">Question Label</label>
               </div>
               <div class="input-field col s12">
                  <input value = "Alvain" required id="title" type="text" class="validate" ng-model="vm.currentQuestion.title">
                  <label class = "active" for="title">Title</label>
               </div>
               <div class="input-field col s12">
                  <input value = "Alvain" required id="Subtitle" type="text" class="validate" ng-model="vm.currentQuestion.subtitle" >
                  <label class = "active" for="Subtitle">Subtitle</label>
               </div>
               <div class="input-field col s12">
                <select required id="type" ng-model="vm.currentQuestion.type">
                    <option value="" disabled>Select</option>
                    <option value="yesNo">Yes or No</option>
                    <option value="MultipleChoice">Multiple Choice</option>
                    <option value="dateTime">Date and Time</option>
                    <option value="textSlide">Text Slide</option>
                    <option value="textField">Text Field</option>
                    <option value="timeInt">Time Interval</option>
                </select>
                <label for="type">Question Type</label>
              </div>
            <!--Options of MCQ-->
            <div ng-show="vm.currentQuestion.type=='MultipleChoice'" class="input-field col s12" data-ng-repeat="choice in vm.choices">
              <div>
                <a ng-show="vm.showAddButton(choice)" ng-click="vm.addChoice()" class="add-btn btn-floating btn-small waves-effect waves-light align-right"><i class="add-icon material-icons">add</i></a>
                <a ng-show="vm.showDeleteButton()" ng-click="vm.removeChoice(choice)" class="add-btn btn-floating btn-small waves-effect waves-light align-right"><i class="material-icons">delete</i></a>
                <input required id="{{choice.id}}" type="text" ng-model="choice.option_tag" placeholder="Enter your option">
              </div>
            </div>
            </form>
            <br>
            <br>
         </div>
      </div><!-- close modal content -->
      <div class="modal-footer">
         <button id = "newQuestionCreate" class="waves-effect waves-light btn green accent-3" ng-click='vm.saveNewQuestion()'>Add</button>
         <button id = "newQuestionCancel" class="waves-effect waves-light btn red accent-1" ng-click='vm.cancelNewQuestion()'>Cancel</button>
      </div>
   </div>
   <!-- Footer start -->
   <footer class="page-footer">
      <!-- <div class="container"> -->
      <div class="row footer-wrapper">
         <div class="col s5 offset-s1 footer-content">
            <h5 class="white-text">TigerAware</h5>
            <p class="grey-text text-lighten-4">TigerAware is a collaberative effort between University of Missouri campus administrators and Computer Science department. It can be used to build re-configurable surveys and data processing for mobile-based campus climate studies.</p>
         </div>
         <div class="col s3 offset-s2 footer-content">
            <h5 class="white-text">Learn More</h5>
            <ul>
               <li><a class="grey-text text-lighten-3" href="#!">University of Missouri</a></li>
               <li><a class="grey-text text-lighten-3" href="#!">Related Work</a></li>
               <li><a class="grey-text text-lighten-3" href="#!">Resources</a></li>
               <li><a class="grey-text text-lighten-3" href="#!">IP Rights</a></li>
            </ul>
         </div>
      </div>
      <!-- </div> -->
      <div class="footer-copyright">
         <div class="container">
            © 2017 TigerAware
            <a class="grey-text text-lighten-4 right" href="#!"></a>
         </div>
      </div>
   </footer>
   <script>
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
